

/* 右下角菜单配置颜色 */
#rightside > div > button {
    border-radius: 5px;
    background-color: var(--gale-btnBg);
  }
  
  #rightside > div > button:hover{
    border-radius: 5px;
    background-color: var(--gale-btnBgHover);
  }
  
  /* 侧边follow配置颜色 */
  a#card-info-btn {
    background-color: var(--gale-btnBg) !important;
  }
  
  a#card-info-btn:hover {
    background-color: var(--gale-btnBgHover) !important;
  }

  /* 底部字体颜色 */
.copyright{
  color: black !important;
}
[data-theme=dark] .copyright{
  color: white !important;
}
#workboard{
  color: black !important
}
[data-theme=dark] #workboard{
  color: white !important;
}
/* .pagination{
  background-color: #121212;
} */

