/* 导航栏居中 */
#nav .menus_items {
    /* display: inline; 这个带不带都可以，本来就是inline */
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    }

/* 横向排布子菜单 */
#nav .menus_items .menus_item .menus_item_child li {
    display: inline-block;
  }
  /* 圆角隐藏 */
  ul.menus_item_child {
    overflow: hidden;
    border-radius: 5px;
  }
  /* 调整空隙，确保不会天下武功唯快不破 */
  #nav .menus_items .menus_item .menus_item_child {
    margin-top: 0px !important;
    left: -70px
  }
  
  .menus_item_child li:not(#sidebar-menus li){
    float: left;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
}

/* 左上角悬停主页 */
#site-name::before{
  opacity: 0;
  background-color: #ed709b !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  position:absolute;
  top:0!important;
  right:0!important;
  width:100%;
  height:100%;
  content: "\f015";
  box-shadow: 0 0 5px #ed709b;
  font-family: "Font Awesome 6 Free";
  text-align: center;
  color:white;
  line-height:34px;/*如果有溢出或者垂直不居中的现象微调一下这个参数*/
  font-size: 18px;/*根据个人喜好*/
}
#site-name:hover::before{
  opacity: 1;
  scale:1.03;
}
#site-name{
  position: relative;
  font-size: 24px; /*一定要把字体调大点，否则效果惨不忍睹！*/
}


/* 顶栏常驻 */
.nav-fixed #nav{
  transform: translateY(58px)!important;
  -webkit-transform: translateY(58px)!important;
  -moz-transform: translateY(58px)!important;
  -ms-transform: translateY(58px)!important;
  -o-transform: translateY(58px)!important;
}
#nav{
  transition: none!important;
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -ms-transition: none!important;
  -o-transition: none!important;
}

/* 去除动画 */
#nav *::after{
  background-color: transparent!important;
}

.site-page:hover,.site-page.group:hover{
  
  width:100%;
  height:100%;
  border-radius: 4px;
  background-color: #ffaaff !important;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
